{% set css %}
  {% include "style.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>

<header>

<pre>
  <code>
███╗   ███╗███████╗██████╗ ██╗ █████╗     ██████╗ ██╗███████╗████████╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔══██╗██║██╔════╝╚══██╔══╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║  ██║██║█████╗     ██║   
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║  ██║██║██╔══╝     ██║   
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ██████╔╝██║███████╗   ██║   
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝    ╚═════╝ ╚═╝╚══════╝   ╚═╝   
  </code>
</pre>

<blockquote>A little public directory of people's media diets</blockquote>
</header>
